.bg-icon21,
.bg24 {
  position: absolute;
  left: 0;
  width: 1024px;
}
.bg24 {
  top: 464px;
  background-color: var(--color-gold-100);
  height: 870px;
}
.bg-icon21 {
  top: 0;
  height: 464px;
}
.aajiveka-the {
  position: absolute;
  top: 184px;
  left: 84px;
  font-size: var(--font-size-17xl);
  letter-spacing: -0.5px;
  line-height: 46px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 856px;
}
.are-you-struggling2 {
  top: 292px;
  left: 201px;
  line-height: 24px;
  font-weight: 600;
  width: 621.2px;
  opacity: 0.8;
}
.are-you-struggling2,
.select-your-level3,
.we-have-exclusive3 {
  position: absolute;
  display: inline-block;
  text-align: center;
}
.select-your-level3 {
  top: 90px;
  left: 0;
  font-size: var(--font-size-5xl);
  line-height: 26px;
  font-weight: 600;
  width: 898px;
}
.we-have-exclusive3 {
  top: 0;
  left: 17px;
  font-size: var(--font-size-27xl);
  letter-spacing: -0.5px;
  line-height: 57.6px;
  color: var(--color-4);
  width: 864px;
}
.group-child140 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 629px;
  height: 62px;
}
.group-child141 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-steelblue-100);
  width: 203px;
  height: 42px;
}
.yrs9 {
  font-size: var(--font-size-xs);
}
.entry-level-0-7yrs-container3 {
  position: absolute;
  top: 9px;
  left: 25px;
  line-height: 24px;
  font-weight: 600;
}
.rectangle-parent58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 203px;
  height: 42px;
  color: var(--color-white);
}
.mid-level-8-15yrs-container3,
.senior-level-15yrs-container3 {
  position: absolute;
  top: 9px;
  left: 225px;
  line-height: 24px;
  font-weight: 600;
}
.senior-level-15yrs-container3 {
  left: 426px;
}
.group-parent14 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 588px;
  height: 42px;
}
.rectangle-parent57 {
  position: absolute;
  top: 148px;
  left: 150px;
  width: 629px;
  height: 62px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-steelblue-100);
}
.group-child142 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(106, 114, 154, 0.08);
  width: 420px;
  height: 198px;
}
.group-child143 {
  position: absolute;
  top: 24px;
  left: 209.5px;
  width: 1px;
  height: 150px;
}
.div38 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 52px;
  font-weight: 600;
}
.per-month12 {
  position: absolute;
  top: 68px;
  left: 7px;
  font-size: var(--font-size-xl);
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--color-slategray);
}
.parent10 {
  position: absolute;
  top: 50px;
  left: 261px;
  width: 107px;
  height: 98px;
}
.influencer12 {
  position: absolute;
  top: 67px;
  left: 26px;
  font-size: var(--font-size-17xl);
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 600;
  color: var(--color-gray-200);
}
.group-child144,
.rectangle-parent59 {
  position: absolute;
  left: 17px;
  width: 420px;
  height: 198px;
}
.rectangle-parent59 {
  top: 274px;
  color: var(--color-gray-100);
}
.group-child144 {
  top: 504px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(106, 114, 154, 0.08);
}
.group-child145,
.parent11 {
  position: absolute;
  top: 528px;
  left: 226.5px;
  width: 1px;
  height: 150px;
}
.parent11 {
  top: 554px;
  left: 278px;
  width: 121px;
  height: 98px;
  color: var(--color-gray-100);
}
.influencer13 {
  position: absolute;
  top: 571px;
  left: 43px;
  font-size: var(--font-size-17xl);
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 600;
  color: var(--color-gray-200);
}
.group-child146 {
  position: absolute;
  top: 274px;
  left: 461px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-200);
  box-shadow: 0 4px 40px rgba(106, 114, 154, 0.08);
  width: 420px;
  height: 198px;
}
.group-child147 {
  position: absolute;
  top: 298px;
  left: 670.5px;
  width: 1px;
  height: 150px;
}
.per-month14 {
  position: absolute;
  top: 68px;
  left: 7px;
  font-size: var(--font-size-xl);
  letter-spacing: -1px;
  font-weight: 500;
}
.parent12 {
  position: absolute;
  top: 324px;
  left: 722px;
  width: 119px;
  height: 98px;
}
.influencer14 {
  position: absolute;
  top: 341px;
  left: 487px;
  font-size: var(--font-size-17xl);
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 600;
}
.group-child148 {
  position: absolute;
  top: 504px;
  left: 461px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(106, 114, 154, 0.08);
  width: 420px;
  height: 198px;
}
.group-child149,
.parent13 {
  position: absolute;
  top: 528px;
  left: 670.5px;
  width: 1px;
  height: 150px;
}
.parent13 {
  top: 554px;
  left: 722px;
  width: 120px;
  height: 98px;
  color: var(--color-gray-100);
}
.influencer15 {
  position: absolute;
  top: 571px;
  left: 487px;
  font-size: var(--font-size-17xl);
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 600;
  color: var(--color-gray-200);
}
.group-child150 {
  position: absolute;
  top: 274px;
  left: 757px;
  border-radius: 0 var(--br-xl) 0 var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(106, 114, 154, 0.08);
  width: 124px;
  height: 40px;
}
.best-seller1 {
  position: absolute;
  top: 284px;
  left: 778px;
  font-size: var(--font-size-base);
  line-height: 20px;
  font-weight: 500;
  color: var(--color-steelblue-200);
}
.select-your-level-group {
  position: absolute;
  top: 548px;
  left: 63px;
  width: 898px;
  height: 702px;
  font-size: var(--font-size-29xl);
}
.aajiveka-resume-t-child {
  position: absolute;
  top: 2319px;
  left: 81px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-100);
  box-shadow: -10px 20px 60px rgba(3, 90, 134, 0.3);
  width: 420px;
  height: 892px;
}
.aajiveka-resume-t-item {
  position: absolute;
  top: 2424.5px;
  left: 82px;
  width: 419px;
  height: 1px;
}
.benefits3 {
  position: absolute;
  top: 2351px;
  left: 216px;
  font-size: var(--font-size-17xl);
  letter-spacing: -0.5px;
  line-height: 42px;
}
.resume-writing-tool3 {
  position: absolute;
  top: 2457px;
  left: 105px;
  font-size: var(--font-size-lg);
  line-height: 26px;
  font-weight: 500;
  color: var(--color-ghostwhite);
}
.access-to-premium3,
.dedicated-career-counselor3,
.highlighted-profile3,
.priority-access-to3,
.profile-performance3,
.rank-higher-in4 {
  position: absolute;
  top: 2515px;
  left: 105px;
  font-size: var(--font-size-lg);
  line-height: 26px;
  font-weight: 500;
  color: var(--color-ghostwhite);
}
.access-to-premium3,
.dedicated-career-counselor3,
.highlighted-profile3,
.priority-access-to3,
.profile-performance3 {
  top: 2573px;
}
.access-to-premium3,
.dedicated-career-counselor3,
.highlighted-profile3,
.priority-access-to3 {
  top: 2631px;
}
.access-to-premium3,
.dedicated-career-counselor3,
.priority-access-to3 {
  top: 2689px;
}
.dedicated-career-counselor3,
.priority-access-to3 {
  top: 2747px;
}
.priority-access-to3 {
  top: 2805px;
}
.direct-message-to3,
.exclusive-access-to3,
.expand-job-search3,
.guaranteed-jobsinterview-call3,
.job-alerts-on3,
.profile-based-job-recommendati3 {
  position: absolute;
  top: 2863px;
  left: 105px;
  font-size: var(--font-size-lg);
  line-height: 26px;
  font-weight: 500;
  color: var(--color-ghostwhite);
}
.direct-message-to3,
.exclusive-access-to3,
.expand-job-search3,
.guaranteed-jobsinterview-call3,
.job-alerts-on3 {
  top: 2921px;
}
.direct-message-to3,
.exclusive-access-to3,
.guaranteed-jobsinterview-call3,
.job-alerts-on3 {
  top: 2979px;
}
.exclusive-access-to3,
.guaranteed-jobsinterview-call3,
.job-alerts-on3 {
  top: 3037px;
}
.guaranteed-jobsinterview-call3,
.job-alerts-on3 {
  top: 3095px;
}
.job-alerts-on3 {
  top: 3153px;
}
.aajiveka-resume-t-inner {
  position: absolute;
  top: 2319px;
  left: 525px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 198px;
  height: 892px;
}
.aajiveka-resume-t-child1 {
  position: absolute;
  height: 11.25%;
  width: 2.34%;
  top: 38.57%;
  right: 37.89%;
  bottom: 50.18%;
  left: 59.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.aajiveka-resume-t-child2 {
  position: absolute;
  top: 2319px;
  left: 747px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 198px;
  height: 892px;
}
.aajiveka-resume-t-child3 {
  position: absolute;
  top: 2319px;
  left: 747px;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-7);
  width: 198px;
  height: 106px;
}
.premium1 {
  margin: 0;
}
.premium-services1 {
  position: absolute;
  top: 2330px;
  left: 761px;
  font-size: var(--font-size-17xl);
  letter-spacing: -0.5px;
  line-height: 42px;
  text-align: center;
}
.aajiveka-resume-t-child4 {
  position: absolute;
  top: 2319px;
  left: 525px;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-gold-100);
  width: 198px;
  height: 106px;
}
.free-services3 {
  position: absolute;
  top: 2330px;
  left: 547px;
  font-size: var(--font-size-17xl);
  letter-spacing: -0.5px;
  line-height: 42px;
  text-align: center;
}
.aajiveka-resume-t-child5 {
  position: absolute;
  height: 11.22%;
  width: 2.34%;
  top: 38.57%;
  right: 16.21%;
  bottom: 50.21%;
  left: 81.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bg25 {
  position: absolute;
  top: 3383px;
  left: 0;
  background-color: var(--color-7);
  width: 1024px;
  height: 860px;
  opacity: 0.02;
}
.aajiveka-resume-t-child6,
.aajiveka-resume-t-child7 {
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 416px;
  height: 320px;
}
.aajiveka-resume-t-child6 {
  position: absolute;
  top: 1937px;
  left: 304px;
  background-color: var(--color-white);
}
.aajiveka-resume-t-child7 {
  top: 1593px;
  left: 527px;
}
.aajiveka-resume-t-child7,
.aajiveka-resume-t-child8,
.bg26 {
  position: absolute;
  background-color: var(--color-white);
}
.aajiveka-resume-t-child8 {
  top: 1593px;
  left: 81px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 416px;
  height: 320px;
}
.bg26 {
  top: 5142px;
  left: 0;
  width: 1024px;
  height: 517px;
}
.review-from-our10 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
  letter-spacing: -0.5px;
  line-height: 57.6px;
  display: inline-block;
  text-align: center;
  width: 864px;
}
.freelance-designer4,
.mila-mcsabbu4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
}
.freelance-designer4 {
  top: 30px;
  font-size: var(--font-size-base);
  opacity: 0.7;
}
.group-child151,
.text41 {
  position: absolute;
  top: 7px;
  left: 94.29px;
  width: 154px;
  height: 56px;
}
.group-child151 {
  top: -36px;
  left: -40px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.group-child152,
.text-parent14 {
  position: absolute;
  top: 239px;
  left: 37px;
  width: 248.29px;
  height: 70px;
}
.group-child152 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 416px;
  height: 203px;
}
.group-child153 {
  position: absolute;
  top: 163px;
  left: -15.18px;
  border-radius: var(--br-11xs);
  width: 107.18px;
  height: 107.18px;
}
.rectangle-parent60 {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
  height: 229px;
}
.omg-i-cannot14 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
  display: inline-block;
  width: 336px;
}
.stars-icon14 {
  position: absolute;
  top: 108px;
  left: 0;
  width: 99.62px;
  height: 14.46px;
}
.omg-i-cannot-believe-that-i-h-parent12 {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 336px;
  height: 122.46px;
}
.div42,
.group-parent15,
.text42 {
  position: absolute;
  left: 0;
  width: 416px;
}
.group-parent15 {
  top: 0;
  height: 229px;
  font-size: var(--font-size-lg);
}
.div42,
.text42 {
  top: 90px;
  height: 309px;
}
.text42 {
  top: 7px;
  left: 94.29px;
  width: 118px;
  height: 56px;
}
.div43,
.text-parent15 {
  position: absolute;
  top: 239px;
  left: 37px;
  width: 212.29px;
  height: 70px;
}
.div43 {
  top: 90px;
  left: 448px;
  width: 416px;
  height: 309px;
}
.review-from-our-customers-parent2 {
  position: absolute;
  top: 5201px;
  left: 80px;
  width: 864px;
  height: 399px;
  font-size: var(--font-size-xl);
  color: var(--color-4);
}
.bg-icon22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 370px;
  object-fit: cover;
}
.aajiveka-is-available10 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 57.6px;
}
.text43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 846px;
  height: 58px;
}
.app-store-icon10,
.play-store-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  height: 62px;
  object-fit: cover;
}
.play-store-icon10 {
  left: 220px;
}
.buttons4,
.content4 {
  position: absolute;
  top: 108px;
  left: 216px;
  width: 416px;
  height: 62px;
}
.content4 {
  top: 100px;
  left: 88px;
  width: 846px;
  height: 170px;
}
.bg-icon23,
.cta4 {
  position: absolute;
  left: 0;
  width: 1024px;
}
.cta4 {
  top: 5659px;
  height: 370px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.bg-icon23 {
  top: 6029px;
  height: 342px;
  object-fit: cover;
}
.button-icon20,
.button-icon21 {
  position: absolute;
  height: 23.53%;
  width: 100%;
  top: 41.76%;
  right: 0;
  bottom: 34.71%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button-icon21 {
  top: 76.47%;
  bottom: 0;
}
.download10 {
  position: absolute;
  top: calc(50% - 85px);
  left: 0;
  letter-spacing: -0.53px;
}
.quicklinks-410 {
  position: absolute;
  height: 2.67%;
  width: 13.18%;
  top: 95.61%;
  right: 7.71%;
  bottom: 1.73%;
  left: 79.1%;
  overflow: hidden;
}
.facebook-fill-icon10,
.twitter-fill-icon10 {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.twitter-fill-icon10 {
  bottom: 0;
  left: 38px;
}
.linkedin-fill-icon10,
.youtube-fill-icon10 {
  position: absolute;
  bottom: 1px;
  left: calc(50% + 9px);
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.youtube-fill-icon10 {
  bottom: 0;
  left: calc(50% + 47px);
}
.follow-us-on10 {
  position: absolute;
  width: 66.91%;
  top: calc(50% + 44px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.whatsapp-image-2023-05-01-at-120 {
  position: absolute;
  top: 0;
  left: 0;
  width: 118.27px;
  height: 118.27px;
  object-fit: cover;
}
.facebook-fill-parent8 {
  position: absolute;
  bottom: 72px;
  left: 76px;
  width: 136px;
  height: 208px;
  font-family: var(--font-dm-sans);
}
.theme-pages10 {
  position: absolute;
  width: 100%;
  top: calc(50% - 109px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.contact-us10,
.home-pages10,
.pricing10,
.team10 {
  position: absolute;
  width: 95.84%;
  top: calc(50% - 38px);
  left: 0;
  display: inline-block;
}
.contact-us10,
.pricing10,
.team10 {
  width: 52.09%;
  top: calc(50% + 3px);
}
.contact-us10,
.team10 {
  width: 86.47%;
  top: calc(50% + 44px);
}
.team10 {
  width: 45.84%;
  top: calc(50% + 85px);
}
.theme-pages-parent8 {
  position: absolute;
  width: 10.7%;
  top: calc(50% + 2905.5px);
  right: 63.62%;
  left: 25.68%;
  height: 218px;
}
.academy10,
.blog14,
.company-bio10,
.help-center10,
.sales-tools-catalog10 {
  position: absolute;
  width: 72.74%;
  top: calc(50% - 109px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.academy10,
.blog14,
.help-center10,
.sales-tools-catalog10 {
  width: 22.73%;
  top: calc(50% - 73.5px);
}
.academy10,
.help-center10,
.sales-tools-catalog10 {
  width: 65.02%;
  top: calc(50% - 32.5px);
}
.academy10,
.sales-tools-catalog10 {
  width: 100%;
  top: calc(50% + 8.5px);
}
.academy10 {
  width: 50.76%;
  top: calc(50% + 49.5px);
}
.blog-parent8 {
  position: absolute;
  width: 100%;
  top: calc(50% - 38px);
  right: 0;
  left: 0;
  height: 147px;
}
.company-bio-parent8 {
  position: absolute;
  width: 14.94%;
  top: calc(50% + 2905.5px);
  right: 43.75%;
  left: 41.31%;
  height: 218px;
}
.about-us20,
.about-us21,
.information10,
.support10,
.terms-and-policy10 {
  position: absolute;
  width: 100%;
  top: calc(50% - 38px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.about-us20,
.about-us21,
.information10,
.support10 {
  width: 55.54%;
  top: calc(50% + 3px);
}
.about-us21,
.information10,
.support10 {
  top: calc(50% + 85px);
}
.information10,
.support10 {
  width: 50.64%;
  top: calc(50% + 44px);
}
.information10 {
  width: 70.56%;
  top: calc(50% - 109px);
}
.terms-and-policy-parent8 {
  position: absolute;
  width: 12.89%;
  top: calc(50% + 2905.5px);
  right: 25.88%;
  left: 61.23%;
  height: 218px;
}
.there-are-many20 {
  position: absolute;
  top: 1485px;
  left: 80px;
  line-height: 145%;
  font-weight: 300;
  color: var(--color-darkslategray-200);
  text-align: center;
  display: inline-block;
  width: 864px;
}
.we-are-here10 {
  position: absolute;
  top: 1396px;
  left: 93px;
  font-size: var(--font-size-31xl);
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 600;
  color: var(--color-gray-200);
}
.our-text-resume,
.text-resume-writing {
  position: absolute;
  color: var(--color-4);
  text-align: center;
}
.text-resume-writing {
  top: 1703px;
  left: 152px;
  font-size: var(--font-size-lg);
  line-height: 24px;
}
.our-text-resume {
  top: 1741px;
  left: 105px;
  line-height: 20px;
  display: inline-block;
  width: 368px;
  opacity: 0.7;
}
.aajiveka-resume-t-child9 {
  position: absolute;
  top: 1617px;
  left: 249px;
  width: 62px;
  height: 62px;
}
.our-visual-resume {
  position: absolute;
  top: 38px;
  left: 0;
  line-height: 26px;
  display: inline-block;
  width: 368px;
  opacity: 0.7;
}
.visual-resume-writing {
  position: absolute;
  top: 0;
  left: 38px;
  font-size: var(--font-size-lg);
  line-height: 26px;
}
.aajiveka-resume-t-inner1,
.our-visual-resume-service-take-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 368px;
  height: 194px;
}
.aajiveka-resume-t-inner1 {
  top: 1703px;
  left: 551px;
  text-align: center;
  color: var(--color-4);
}
.aajiveka-resume-t-child10 {
  position: absolute;
  top: 1617px;
  left: 704px;
  width: 62px;
  height: 62px;
}
.if-you-already,
.resume-critique-services {
  position: absolute;
  top: 0;
  left: 66px;
  line-height: 26px;
}
.if-you-already {
  top: 38px;
  left: 0;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 368px;
  opacity: 0.7;
}
.resume-critique-services-parent {
  position: absolute;
  top: 2047px;
  left: 328px;
  width: 368px;
  height: 168px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-4);
}
.aajiveka-resume-t-child11 {
  position: absolute;
  top: 1961px;
  left: 481px;
  width: 62px;
  height: 62px;
}
.our-services-start {
  color: var(--color-4);
}
.our-services-start-container,
.we-are-here11 {
  position: absolute;
  left: 80px;
  display: inline-block;
  width: 864px;
}
.our-services-start-container {
  top: 3243px;
  line-height: 26px;
  opacity: 0.8;
  color: var(--color-6);
}
.we-are-here11 {
  top: 3445px;
  font-size: var(--font-size-29xl);
  letter-spacing: -2px;
  line-height: 52px;
  font-weight: 600;
  color: var(--color-gray-200);
  text-align: center;
}
.rectangle {
  position: absolute;
  height: 101.39%;
  width: 100.12%;
  top: -0.69%;
  right: -0.06%;
  bottom: -0.69%;
  left: -0.06%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-ghostwhite-100);
  box-sizing: border-box;
}
.icon16 {
  position: absolute;
  height: 41.67%;
  width: 3.47%;
  top: 29.17%;
  right: 94.68%;
  bottom: 29.17%;
  left: 1.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.how-to-improve {
  position: absolute;
  width: 91.67%;
  top: calc(50% - 12px);
  left: 6.48%;
  letter-spacing: -0.66px;
  display: inline-block;
}
.rectangle-parent62 {
  position: absolute;
  height: 1.13%;
  width: 84.38%;
  top: 56.21%;
  right: 7.81%;
  bottom: 42.66%;
  left: 7.81%;
  color: var(--color-gray-400);
}
.how-to-improve1 {
  position: absolute;
  width: 91.67%;
  top: calc(50% - 20px);
  left: 6.83%;
  letter-spacing: -0.66px;
  line-height: 20px;
  display: inline-block;
}
.rectangle-parent63 {
  position: absolute;
  height: 1.13%;
  width: 84.38%;
  top: 57.59%;
  right: 7.81%;
  bottom: 41.28%;
  left: 7.81%;
  color: var(--color-gray-400);
}
.icon18 {
  position: absolute;
  height: 41.67%;
  width: 3.47%;
  top: 25%;
  right: 94.68%;
  bottom: 33.33%;
  left: 1.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.how-to-improve2 {
  position: absolute;
  width: 91.67%;
  top: calc(50% - 13px);
  left: 6.48%;
  letter-spacing: -0.66px;
  line-height: 20px;
  display: inline-block;
}
.rectangle-parent64 {
  position: absolute;
  height: 1.13%;
  width: 84.38%;
  top: 58.97%;
  right: 7.81%;
  bottom: 39.9%;
  left: 7.81%;
  color: var(--color-gray-400);
}
.how-to-improve3 {
  position: absolute;
  width: 91.67%;
  top: calc(50% - 20px);
  left: 6.48%;
  letter-spacing: -0.66px;
  line-height: 20px;
  display: inline-block;
}
.rectangle-parent65,
.rectangle-parent66 {
  position: absolute;
  height: 1.13%;
  width: 84.38%;
  top: 60.35%;
  right: 7.81%;
  bottom: 38.52%;
  left: 7.81%;
  color: var(--color-gray-400);
}
.rectangle-parent66 {
  top: 61.73%;
  bottom: 37.14%;
}
.how-to-improve5 {
  position: absolute;
  width: 91.67%;
  top: calc(50% - 10px);
  left: 6.48%;
  letter-spacing: -0.66px;
  line-height: 20px;
  display: inline-block;
}
.rectangle-parent67 {
  position: absolute;
  height: 1.13%;
  width: 84.38%;
  top: 63.11%;
  right: 7.81%;
  bottom: 35.76%;
  left: 7.81%;
  color: var(--color-gray-400);
}
.how-to-improve6 {
  position: absolute;
  width: 91.67%;
  top: calc(50% - 20px);
  left: 7.29%;
  letter-spacing: -0.66px;
  line-height: 20px;
  display: inline-block;
}
.rectangle-parent68 {
  position: absolute;
  height: 1.13%;
  width: 84.38%;
  top: 64.5%;
  right: 7.81%;
  bottom: 34.37%;
  left: 7.81%;
  color: var(--color-gray-400);
}
.there-are-many21 {
  position: absolute;
  top: 4394px;
  left: 80px;
  line-height: 145%;
  font-weight: 500;
  color: var(--color-gray-500);
  display: inline-block;
  width: 864px;
}
.we-are-here12 {
  position: absolute;
  top: 4305px;
  left: 250px;
  font-size: var(--font-size-31xl);
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 600;
  color: var(--color-gray-200);
}
.bg-icon24 {
  position: absolute;
  top: 4487px;
  left: 80px;
  width: 864px;
  height: 135px;
  object-fit: cover;
}
.there-are-many22 {
  position: absolute;
  top: 4511px;
  left: 104px;
  font-size: var(--font-size-xl);
  line-height: 145%;
  display: inline-block;
  font-weight: 700;
  width: 818px;
}
.icon23 {
  position: absolute;
  top: 4646px;
  left: 80px;
  width: 420px;
  height: 314.34px;
  object-fit: cover;
}
.we-are-here13 {
  position: absolute;
  top: 0;
  left: 4px;
  font-size: var(--font-size-5xl);
  line-height: 20px;
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
  width: 416px;
}
.vector-icon7 {
  position: absolute;
  height: 23.75%;
  width: 4.29%;
  top: 8.33%;
  right: 95.71%;
  bottom: 67.92%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.there-are-many23 {
  position: absolute;
  top: 0;
  left: 30px;
  line-height: 145%;
  font-weight: 500;
  display: inline-block;
  width: 390px;
}
.vector-container,
.vector-icon8 {
  position: absolute;
  height: 20.27%;
  width: 100%;
  top: 21.62%;
  right: 0;
  bottom: 58.11%;
  left: 0;
}
.vector-icon8 {
  height: 35.63%;
  width: 4.29%;
  top: 10%;
  right: 95.71%;
  bottom: 54.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon9,
.vector-parent1 {
  position: absolute;
  height: 13.51%;
  width: 100%;
  top: 50%;
  right: 0;
  bottom: 36.49%;
  left: 0;
}
.vector-icon9 {
  height: 71.25%;
  width: 5.03%;
  top: 20%;
  right: 94.97%;
  bottom: 8.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.there-are-many25 {
  position: absolute;
  top: 0;
  left: 30px;
  line-height: 145%;
  font-weight: 500;
}
.vector-icon10,
.vector-parent2 {
  position: absolute;
  height: 6.76%;
  width: 85.24%;
  top: 71.62%;
  right: 14.76%;
  bottom: 21.62%;
  left: 0;
}
.vector-icon10 {
  height: 35.63%;
  width: 4.29%;
  top: 12.5%;
  right: 95.71%;
  bottom: 51.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-parent3 {
  position: absolute;
  height: 13.51%;
  width: 100%;
  top: 86.49%;
  right: 0;
  bottom: 0;
  left: 0;
}
.we-are-here-to-make-your-webs-parent {
  position: absolute;
  top: 4655px;
  left: 524px;
  width: 420px;
  height: 296px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.there-are-many27 {
  position: absolute;
  top: 4993px;
  left: 80px;
  font-size: var(--font-size-xl);
  line-height: 145%;
  display: inline-block;
  color: var(--color-gray-500);
  width: 864px;
}
.whatsapp-image-2023-05-01-at-121 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.blog15,
.candidates4,
.employers4,
.find-jobs4,
.home4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 600;
}
.blog15,
.candidates4,
.employers4,
.find-jobs4 {
  left: 79px;
}
.blog15,
.candidates4,
.employers4 {
  left: 187px;
}
.blog15,
.candidates4 {
  left: 303px;
}
.blog15 {
  left: 429px;
}
.home-parent2 {
  position: absolute;
  top: 18px;
  left: 123px;
  width: 465px;
  height: 24px;
}
.get-started6,
.login4 {
  line-height: 24px;
  font-weight: 600;
}
.login4 {
  position: absolute;
  top: 10px;
  left: 0;
}
.get-started6 {
  position: relative;
}
.button8 {
  position: absolute;
  top: 0;
  left: 94px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 120px;
  height: 45px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-14xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-steelblue-200);
}
.login-signup-button4 {
  position: absolute;
  top: 7px;
  left: 651px;
  width: 214px;
  height: 45px;
  text-align: right;
}
.whatsapp-image-2023-05-01-at-1-parent8 {
  position: absolute;
  top: 16px;
  left: 79px;
  width: 865px;
  height: 60px;
  text-align: center;
}
.aajiveka-resume-t {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 6371px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
