.bg-icon32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 464px;
}
.how-to-write5 {
  margin: 0;
}
.how-to-write-container {
  position: absolute;
  top: 221px;
  left: 262px;
  font-size: var(--font-size-17xl);
  letter-spacing: 0.2px;
  line-height: 46px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 1076px;
}
.get-started8,
.login6 {
  line-height: 24px;
  font-weight: 600;
}
.login6 {
  position: absolute;
  top: 10px;
  left: 0;
}
.get-started8 {
  position: relative;
}
.button10 {
  position: absolute;
  top: 0;
  left: 94px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 120px;
  height: 45px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-14xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-steelblue-200);
}
.login-signup-button6 {
  position: absolute;
  top: 15px;
  left: 1234px;
  width: 214px;
  height: 45px;
  text-align: right;
  color: var(--color-white);
}
.whatsapp-image-2023-05-01-at-128 {
  position: absolute;
  top: 15px;
  left: 152px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.blog20,
.candidates8,
.employers6,
.find-jobs6,
.home6 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 600;
}
.blog20,
.candidates8,
.employers6,
.find-jobs6 {
  left: 79px;
}
.blog20,
.candidates8,
.employers6 {
  left: 187px;
}
.blog20,
.candidates8 {
  left: 303px;
}
.blog20 {
  left: 429px;
}
.home-parent4 {
  position: absolute;
  top: 25px;
  left: 567px;
  width: 465px;
  height: 24px;
  text-align: center;
  color: var(--color-white);
}
.bg32 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1600px;
  height: 733px;
}
.review-from-our14 {
  position: absolute;
  top: 46px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 57.6px;
  display: inline-block;
  width: 636px;
}
.testimonials,
.text51 {
  position: absolute;
  top: 0;
}
.testimonials {
  left: 253px;
  font-size: var(--font-size-xl);
  line-height: 26px;
  font-weight: 600;
  color: var(--color-gold-100);
}
.text51 {
  left: 330px;
  width: 636px;
  height: 162px;
}
.group-child204,
.text52 {
  position: absolute;
  top: 7px;
  left: 94.29px;
  width: 154px;
  height: 56px;
}
.group-child204 {
  top: -36px;
  left: -40px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.group-child205,
.text-parent20 {
  position: absolute;
  top: 239px;
  left: 37px;
  width: 248.29px;
  height: 70px;
}
.group-child205 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 416px;
  height: 203px;
}
.group-child206 {
  position: absolute;
  top: 163px;
  left: -15.18px;
  border-radius: var(--br-11xs);
  width: 107.18px;
  height: 107.18px;
}
.rectangle-parent85 {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
  height: 229px;
}
.omg-i-cannot20 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
  display: inline-block;
  width: 336px;
}
.stars-icon20 {
  position: absolute;
  top: 108px;
  left: 0;
  width: 99.62px;
  height: 14.46px;
}
.omg-i-cannot-believe-that-i-h-parent18 {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 336px;
  height: 122.46px;
}
.div50,
.group-parent22,
.text53 {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
}
.group-parent22 {
  height: 229px;
  font-size: var(--font-size-lg);
}
.div50,
.text53 {
  height: 309px;
}
.text53 {
  top: 7px;
  left: 94.29px;
  width: 118px;
  height: 56px;
}
.div51,
.text-parent21 {
  position: absolute;
  top: 239px;
  left: 37px;
  width: 212.29px;
  height: 70px;
}
.div51 {
  top: 0;
  left: 440px;
  width: 416px;
  height: 309px;
}
.jenny-wilson,
.web-developer {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
}
.web-developer {
  top: 30px;
  font-size: var(--font-size-base);
  opacity: 0.7;
}
.text54 {
  position: absolute;
  top: 7px;
  left: 94.29px;
  width: 138px;
  height: 56px;
}
.div52,
.text-parent22 {
  position: absolute;
  top: 239px;
  left: 37px;
  width: 232.29px;
  height: 70px;
}
.div52 {
  top: 0;
  left: 880px;
  width: 416px;
  height: 309px;
}
.content6,
.content7 {
  position: absolute;
  width: 1296px;
}
.content7 {
  top: 164px;
  left: 0;
  height: 309px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.content6 {
  top: 130px;
  left: 152px;
  height: 473px;
}
.bg-icon33,
.testimonial {
  position: absolute;
  left: 0;
  width: 1600px;
}
.testimonial {
  top: 2668px;
  height: 733px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.bg-icon33 {
  top: 0;
  height: 437px;
  object-fit: cover;
}
.aajiveka-is-available14 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 57.6px;
}
.a-private-limited {
  position: absolute;
  top: 73px;
  left: 105px;
  font-size: var(--font-size-base);
  line-height: 26px;
  display: inline-block;
  width: 638px;
}
.text55 {
  position: absolute;
  top: 0;
  left: 0;
  width: 846px;
  height: 125px;
}
.app-store-icon14,
.play-store-icon14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  height: 62px;
  object-fit: cover;
}
.play-store-icon14 {
  left: 220px;
}
.buttons6,
.content8 {
  position: absolute;
  top: 175px;
  left: 216px;
  width: 416px;
  height: 62px;
}
.content8 {
  top: 100px;
  left: 377px;
  width: 846px;
  height: 237px;
}
.aajiveka-blog-detail-child,
.cta6 {
  position: absolute;
  left: 0;
  width: 1600px;
}
.cta6 {
  top: 3401px;
  height: 437px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.aajiveka-blog-detail-child {
  top: 3838px;
  background-color: var(--color-steelblue-200);
  height: 338px;
}
.button-icon28,
.button-icon29 {
  position: absolute;
  height: 23.53%;
  width: 100%;
  top: 41.76%;
  right: 0;
  bottom: 34.71%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button-icon29 {
  top: 76.47%;
  bottom: 0;
}
.download14 {
  position: absolute;
  top: calc(50% - 85px);
  left: 0;
  letter-spacing: -0.53px;
}
.quicklinks-414 {
  position: absolute;
  height: 77.98%;
  width: 11.26%;
  top: 0;
  right: 0;
  bottom: 22.02%;
  left: 88.74%;
  overflow: hidden;
}
.facebook-fill-icon14,
.twitter-fill-icon14 {
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.twitter-fill-icon14 {
  bottom: 10px;
  left: 38px;
}
.linkedin-fill-icon14,
.youtube-fill-icon14 {
  position: absolute;
  bottom: 11px;
  left: calc(50% - 522.5px);
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.youtube-fill-icon14 {
  bottom: 10px;
  left: calc(50% - 484.5px);
}
.follow-us-on14 {
  position: absolute;
  width: 7.59%;
  top: calc(50% + 39px);
  left: 0;
  letter-spacing: -0.53px;
  font-family: var(--font-dm-sans);
  display: inline-block;
}
.whatsapp-image-2023-05-01-at-129 {
  position: absolute;
  top: 0;
  left: 0;
  width: 118.27px;
  height: 118.27px;
  object-fit: cover;
}
.theme-pages14 {
  position: absolute;
  width: 100%;
  top: calc(50% - 109px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.contact-us14,
.home-pages14,
.pricing14,
.team14 {
  position: absolute;
  width: 95.84%;
  top: calc(50% - 38px);
  left: 0;
  display: inline-block;
}
.contact-us14,
.pricing14,
.team14 {
  width: 52.09%;
  top: calc(50% + 3px);
}
.contact-us14,
.team14 {
  width: 86.47%;
  top: calc(50% + 44px);
}
.team14 {
  width: 45.84%;
  top: calc(50% + 85px);
}
.theme-pages-parent12 {
  position: absolute;
  width: 9.14%;
  top: calc(50% - 109px);
  right: 51%;
  left: 39.87%;
  height: 218px;
}
.academy14,
.blog21,
.company-bio14,
.help-center14,
.sales-tools-catalog14 {
  position: absolute;
  width: 72.74%;
  top: calc(50% - 109px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.academy14,
.blog21,
.help-center14,
.sales-tools-catalog14 {
  width: 22.73%;
  top: calc(50% - 73.5px);
}
.academy14,
.help-center14,
.sales-tools-catalog14 {
  width: 65.02%;
  top: calc(50% - 32.5px);
}
.academy14,
.sales-tools-catalog14 {
  width: 100%;
  top: calc(50% + 8.5px);
}
.academy14 {
  width: 50.76%;
  top: calc(50% + 49.5px);
}
.blog-parent12 {
  position: absolute;
  width: 100%;
  top: calc(50% - 38px);
  right: 0;
  left: 0;
  height: 147px;
}
.company-bio-parent12 {
  position: absolute;
  width: 12.76%;
  top: calc(50% - 109px);
  right: 32.61%;
  left: 54.63%;
  height: 218px;
}
.about-us28,
.about-us29,
.information14,
.support14,
.terms-and-policy14 {
  position: absolute;
  width: 100%;
  top: calc(50% - 38px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.about-us28,
.about-us29,
.information14,
.support14 {
  width: 55.54%;
  top: calc(50% + 3px);
}
.about-us29,
.information14,
.support14 {
  top: calc(50% + 85px);
}
.information14,
.support14 {
  width: 50.64%;
  top: calc(50% + 44px);
}
.information14 {
  width: 70.56%;
  top: calc(50% - 109px);
}
.terms-and-policy-parent12 {
  position: absolute;
  width: 11.01%;
  top: calc(50% - 109px);
  right: 16.68%;
  left: 72.31%;
  height: 218px;
}
.quicklinks-4-parent {
  position: absolute;
  height: 5.22%;
  width: 74.94%;
  top: 93.34%;
  right: 12%;
  bottom: 1.44%;
  left: 13.06%;
  color: var(--color-white);
}
.aajiveka-blog-detail-child1,
.aajiveka-blog-detail-inner,
.aajiveka-blog-detail-item {
  position: absolute;
  top: 526px;
  left: 152px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 1296px;
  height: 1884px;
}
.aajiveka-blog-detail-child1,
.aajiveka-blog-detail-inner {
  top: 2472px;
  width: 636px;
  height: 134px;
}
.aajiveka-blog-detail-child1 {
  left: 812px;
}
.are-you-struggling-container2,
.how-to-write6,
.keywords-resume2 {
  position: absolute;
  left: 184px;
  line-height: 26px;
  display: inline-block;
}
.how-to-write6 {
  top: 1096px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  width: 706px;
}
.are-you-struggling-container2,
.keywords-resume2 {
  opacity: 0.8;
}
.keywords-resume2 {
  top: 1138px;
  font-weight: 500;
  width: 1212px;
}
.are-you-struggling-container2 {
  top: 1180px;
  width: 1232px;
}
.understand-the-purpose2,
.your-resume-is5 {
  position: absolute;
  left: 0;
  line-height: 26px;
  display: inline-block;
}
.understand-the-purpose2 {
  top: 0;
  font-weight: 600;
  width: 660.29px;
}
.your-resume-is5 {
  top: 42px;
  font-size: var(--font-size-base);
  width: 1232px;
  opacity: 0.8;
}
.text56 {
  top: 1368px;
  left: 184px;
  width: 1232px;
  font-size: var(--font-size-xl);
}
.text56,
.text57,
.text58 {
  position: absolute;
  height: 120px;
}
.text57 {
  top: 1520px;
  left: 184px;
  width: 1232px;
  font-size: var(--font-size-xl);
}
.text58 {
  top: 1672px;
}
.text58,
.text59,
.text60 {
  left: 184px;
  width: 1232px;
  font-size: var(--font-size-xl);
}
.text59 {
  position: absolute;
  top: 1824px;
  height: 120px;
}
.text60 {
  top: 1976px;
  height: 94px;
}
.admin5,
.text60,
.text61 {
  position: absolute;
}
.text61 {
  top: 2128px;
  left: 184px;
  width: 1232px;
  height: 250px;
  font-size: var(--font-size-xl);
}
.admin5 {
  top: 0;
  left: 30px;
  line-height: 21px;
}
.vector-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.admin-container,
.admin4,
.date2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 76px;
  height: 21px;
}
.admin-container,
.date2 {
  left: 131px;
  width: 115px;
}
.admin-container {
  top: 1045px;
  left: 184px;
  width: 246px;
  font-size: var(--font-size-sm);
  color: var(--color-steelblue-200);
}
.mask-group-icon10 {
  position: absolute;
  top: 526px;
  left: 152px;
  width: 1296px;
  height: 487px;
  object-fit: cover;
}
.previous1 {
  position: absolute;
  top: 2504px;
  left: 184px;
  line-height: 26px;
  color: var(--color-steelblue-200);
}
.vector-icon17 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 10.74px;
  height: 18.76px;
  opacity: 0.8;
}
.the-importance-of1 {
  position: absolute;
  top: 0;
  left: 26px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  width: 539px;
  opacity: 0.8;
}
.vector-parent8 {
  position: absolute;
  top: 2554px;
  left: 184px;
  width: 565px;
  height: 20px;
  font-size: var(--font-size-sm);
}
.next1 {
  position: absolute;
  top: 0;
  left: 540px;
  line-height: 26px;
}
.vector-icon18 {
  position: absolute;
  top: 1px;
  left: 568px;
  width: 10.74px;
  height: 18.76px;
  opacity: 0.8;
}
.how-to-ace1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  width: 553px;
  opacity: 0.8;
}
.vector-parent9 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 578.74px;
  height: 20px;
  font-size: var(--font-size-sm);
  color: var(--color-4);
}
.div53 {
  position: absolute;
  top: 2504px;
  left: 837px;
  width: 579px;
  height: 70px;
  text-align: right;
  color: var(--color-steelblue-200);
}
.aajiveka-blog-detail {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4176px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-4);
  font-family: var(--font-poppins);
}
