.div82,
.indian-business-man-2022-02-12-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 900px;
}
.indian-business-man-2022-02-12-icon2 {
  object-fit: cover;
}
.div82 {
  background-color: var(--color-gray-100);
  opacity: 0.7;
  mix-blend-mode: multiply;
}
.empowering-indias-workforce2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 46px;
  font-weight: 600;
  display: inline-block;
  width: 856px;
}
.bg46,
.text85 {
  position: absolute;
}
.text85 {
  top: 404px;
  left: 372px;
  width: 856px;
  height: 92px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.bg46 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1600px;
  height: 75px;
  display: none;
}
.get-started13,
.login11 {
  line-height: 24px;
  font-weight: 600;
}
.login11 {
  position: absolute;
  top: 10px;
  left: 0;
}
.get-started13 {
  position: relative;
}
.button16 {
  position: absolute;
  top: 0;
  left: 94px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 120px;
  height: 45px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-14xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-steelblue-200);
}
.login-signup-button11 {
  position: absolute;
  top: 27px;
  left: 1234px;
  width: 214px;
  height: 45px;
  text-align: right;
  color: var(--color-white);
}
.whatsapp-image-2023-05-01-at-138 {
  position: absolute;
  top: 20px;
  left: 152px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.blog31,
.candidates13,
.employers11,
.find-jobs11,
.home11 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 600;
}
.blog31,
.candidates13,
.employers11,
.find-jobs11 {
  left: 79px;
}
.blog31,
.candidates13,
.employers11 {
  left: 187px;
}
.blog31,
.candidates13 {
  left: 303px;
}
.blog31 {
  left: 429px;
}
.home-parent9 {
  position: absolute;
  top: 38px;
  left: 567px;
  width: 465px;
  height: 24px;
  text-align: center;
  color: var(--color-white);
}
.bg47 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1600px;
  height: 733px;
}
.review-from-our19,
.text86 {
  position: absolute;
  top: 0;
  width: 636px;
}
.review-from-our19 {
  left: 0;
  letter-spacing: -0.5px;
  line-height: 57.6px;
  display: inline-block;
}
.text86 {
  left: 330px;
  height: 116px;
}
.freelance-designer11,
.mila-mcsabbu11 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
}
.freelance-designer11 {
  top: 30px;
  font-size: var(--font-size-base);
  opacity: 0.7;
}
.group-child329,
.text87 {
  position: absolute;
  top: 7px;
  left: 94.29px;
  width: 154px;
  height: 56px;
}
.group-child329 {
  top: -36px;
  left: -40px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.group-child330,
.text-parent37 {
  position: absolute;
  top: 239px;
  left: 37px;
  width: 248.29px;
  height: 70px;
}
.group-child330 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 416px;
  height: 203px;
}
.group-child331 {
  position: absolute;
  top: 163px;
  left: -15.18px;
  border-radius: var(--br-11xs);
  width: 107.18px;
  height: 107.18px;
}
.rectangle-parent134 {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
  height: 229px;
}
.omg-i-cannot35 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
  display: inline-block;
  width: 336px;
}
.stars-icon35 {
  position: absolute;
  top: 108px;
  left: 0;
  width: 99.62px;
  height: 14.46px;
}
.omg-i-cannot-believe-that-i-h-parent33 {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 336px;
  height: 122.46px;
}
.div83,
.group-parent42,
.text88 {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
}
.group-parent42 {
  height: 229px;
  font-size: var(--font-size-lg);
}
.div83,
.text88 {
  height: 309px;
}
.text88 {
  top: 7px;
  left: 94.29px;
  width: 118px;
  height: 56px;
}
.div84,
.text-parent38,
.text89 {
  position: absolute;
  top: 239px;
  left: 37px;
  width: 212.29px;
  height: 70px;
}
.div84,
.text89 {
  top: 0;
  left: 440px;
  width: 416px;
  height: 309px;
}
.text89 {
  top: 7px;
  left: 94.29px;
  width: 138px;
  height: 56px;
}
.div85,
.text-parent39 {
  position: absolute;
  top: 239px;
  left: 37px;
  width: 232.29px;
  height: 70px;
}
.div85 {
  top: 0;
  left: 880px;
  width: 416px;
  height: 309px;
}
.content22,
.content23 {
  position: absolute;
  width: 1296px;
}
.content23 {
  top: 118px;
  left: 0;
  height: 309px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.content22 {
  top: 176px;
  left: 152px;
  height: 427px;
}
.cta-item,
.testimonial5 {
  position: absolute;
  left: 0;
  width: 1600px;
}
.testimonial5 {
  top: 5294px;
  height: 733px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.cta-item {
  top: 0;
  height: 370px;
  object-fit: cover;
}
.aajiveka-is-available19 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 57.6px;
}
.text90 {
  position: absolute;
  top: 0;
  left: 0;
  width: 846px;
  height: 58px;
}
.app-store-icon19,
.play-store-icon19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  height: 62px;
  object-fit: cover;
}
.play-store-icon19 {
  left: 220px;
}
.buttons11,
.content24 {
  position: absolute;
  top: 108px;
  left: 216px;
  width: 416px;
  height: 62px;
}
.content24 {
  top: 100px;
  left: 377px;
  width: 846px;
  height: 170px;
}
.about-child,
.cta11 {
  position: absolute;
  left: 0;
  width: 1600px;
}
.cta11 {
  top: 6094px;
  height: 370px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.about-child {
  top: 6464px;
  background-color: var(--color-steelblue-200);
  height: 338px;
}
.button-icon38,
.button-icon39 {
  position: absolute;
  height: 23.53%;
  width: 100%;
  top: 41.76%;
  right: 0;
  bottom: 34.71%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button-icon39 {
  top: 76.47%;
  bottom: 0;
}
.download19 {
  position: absolute;
  top: calc(50% - 85px);
  left: 0;
  letter-spacing: -0.53px;
}
.quicklinks-419 {
  position: absolute;
  height: 77.98%;
  width: 11.26%;
  top: 0;
  right: 0;
  bottom: 22.02%;
  left: 88.74%;
  overflow: hidden;
}
.facebook-fill-icon19,
.twitter-fill-icon19 {
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.twitter-fill-icon19 {
  bottom: 10px;
  left: 38px;
}
.linkedin-fill-icon19,
.youtube-fill-icon19 {
  position: absolute;
  bottom: 11px;
  left: calc(50% - 522.5px);
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.youtube-fill-icon19 {
  bottom: 10px;
  left: calc(50% - 484.5px);
}
.follow-us-on19 {
  position: absolute;
  width: 7.59%;
  top: calc(50% + 39px);
  left: 0;
  letter-spacing: -0.53px;
  font-family: var(--font-dm-sans);
  display: inline-block;
}
.whatsapp-image-2023-05-01-at-139 {
  position: absolute;
  top: 0;
  left: 0;
  width: 118.27px;
  height: 118.27px;
  object-fit: cover;
}
.theme-pages19 {
  position: absolute;
  width: 100%;
  top: calc(50% - 109px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.contact-us19,
.home-pages19,
.pricing19,
.team19 {
  position: absolute;
  width: 95.84%;
  top: calc(50% - 38px);
  left: 0;
  display: inline-block;
}
.contact-us19,
.pricing19,
.team19 {
  width: 52.09%;
  top: calc(50% + 3px);
}
.contact-us19,
.team19 {
  width: 86.47%;
  top: calc(50% + 44px);
}
.team19 {
  width: 45.84%;
  top: calc(50% + 85px);
}
.theme-pages-parent17 {
  position: absolute;
  width: 9.14%;
  top: calc(50% - 109px);
  right: 51%;
  left: 39.87%;
  height: 218px;
}
.academy19,
.blog32,
.company-bio19,
.help-center19,
.sales-tools-catalog19 {
  position: absolute;
  width: 72.74%;
  top: calc(50% - 109px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.academy19,
.blog32,
.help-center19,
.sales-tools-catalog19 {
  width: 22.73%;
  top: calc(50% - 73.5px);
}
.academy19,
.help-center19,
.sales-tools-catalog19 {
  width: 65.02%;
  top: calc(50% - 32.5px);
}
.academy19,
.sales-tools-catalog19 {
  width: 100%;
  top: calc(50% + 8.5px);
}
.academy19 {
  width: 50.76%;
  top: calc(50% + 49.5px);
}
.blog-parent17 {
  position: absolute;
  width: 100%;
  top: calc(50% - 38px);
  right: 0;
  left: 0;
  height: 147px;
}
.company-bio-parent17 {
  position: absolute;
  width: 12.76%;
  top: calc(50% - 109px);
  right: 32.61%;
  left: 54.63%;
  height: 218px;
}
.about-us38,
.about-us39,
.information19,
.support19,
.terms-and-policy19 {
  position: absolute;
  width: 100%;
  top: calc(50% - 38px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.about-us38,
.about-us39,
.information19,
.support19 {
  width: 55.54%;
  top: calc(50% + 3px);
}
.about-us39,
.information19,
.support19 {
  top: calc(50% + 85px);
}
.information19,
.support19 {
  width: 50.64%;
  top: calc(50% + 44px);
}
.information19 {
  width: 70.56%;
  top: calc(50% - 109px);
}
.terms-and-policy-parent17 {
  position: absolute;
  width: 11.01%;
  top: calc(50% - 109px);
  right: 16.68%;
  left: 72.31%;
  height: 218px;
}
.quicklinks-4-parent3 {
  position: absolute;
  height: 3.2%;
  width: 74.94%;
  top: 95.91%;
  right: 12.5%;
  bottom: 0.88%;
  left: 12.56%;
  color: var(--color-white);
}
.bg48 {
  position: absolute;
  top: 2379px;
  left: 2px;
  background-color: var(--color-gold-100);
  width: 1600px;
  height: 837px;
}
.there-are-many52 {
  position: absolute;
  top: 89px;
  left: 0;
  line-height: 145%;
  font-weight: 300;
  display: inline-block;
  width: 612px;
}
.we-are-here21 {
  position: absolute;
  top: 0;
  left: 188px;
  font-size: var(--font-size-31xl);
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 600;
  text-align: left;
}
.there-are-many-variations-of-p-parent14 {
  position: absolute;
  top: 2463px;
  left: 494px;
  width: 612px;
  height: 135px;
  text-align: center;
  color: var(--color-black);
}
.there-are-many53 {
  position: absolute;
  top: 46px;
  left: 0;
  line-height: 25px;
  display: inline-block;
  width: 416px;
  height: 79px;
}
.our-customer10 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: -1px;
  font-weight: 600;
}
.there-are-many-variations-of-p-parent15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
  height: 125px;
}
.there-are-many54 {
  position: absolute;
  top: 46px;
  left: 0;
  line-height: 25px;
  display: inline-block;
  width: 416px;
}
.group-parent45,
.there-are-many-variations-of-p-parent16 {
  position: absolute;
  top: 171px;
  left: 0;
  width: 416px;
  height: 146px;
}
.group-parent45 {
  top: 2671px;
  left: 152px;
  height: 317px;
  color: var(--color-black);
}
.there-are-many-variations-of-p-parent17 {
  position: absolute;
  top: 171px;
  left: 0;
  width: 416px;
  height: 96px;
}
.group-parent46,
.there-are-many-variations-of-p-parent19 {
  position: absolute;
  top: 313px;
  left: 0;
  width: 416px;
  height: 125px;
}
.group-parent46 {
  top: 2671px;
  left: 1032px;
  height: 438px;
  color: var(--color-black);
}
.looking-for-the2,
.why-choose-aajiveka2 {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 580px;
}
.looking-for-the2 {
  top: 94px;
  line-height: 26px;
  opacity: 0.8;
}
.why-choose-aajiveka2 {
  top: 0;
  font-size: var(--font-size-29xl);
  letter-spacing: -0.5px;
  line-height: 57.6px;
}
.button17 {
  position: absolute;
  top: 204px;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-6);
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-14xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-white);
}
.about-item,
.looking-for-the-right-job-loo-group {
  position: absolute;
  top: 3504px;
  left: 868px;
  width: 580px;
  height: 254px;
}
.about-item {
  top: 3270px;
  left: 203px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 585px;
  height: 118px;
}
.our-platform-is2 {
  margin: 0;
}
.our-platform-is-container1 {
  position: absolute;
  top: 3290px;
  left: 293px;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  width: 475px;
}
.about-inner {
  position: absolute;
  top: 3546px;
  left: 203px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 585px;
  height: 118px;
}
.we-prioritize-the-container1 {
  position: absolute;
  top: 3566px;
  left: 293px;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  width: 475px;
}
.about-child1 {
  position: absolute;
  top: 3848px;
  left: 203px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 585px;
  height: 144px;
}
.we-are-committed-container1 {
  position: absolute;
  top: 3868px;
  left: 293px;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  width: 475px;
}
.about-child2 {
  position: absolute;
  top: 3684px;
  left: 152px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 585px;
  height: 144px;
}
.our-platform-uses-container1 {
  position: absolute;
  top: 3704px;
  left: 242px;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  width: 475px;
}
.about-child3 {
  position: absolute;
  height: 1.73%;
  width: 36.56%;
  top: 50.1%;
  right: 53.94%;
  bottom: 48.16%;
  left: 9.5%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
}
.we-offer-a-container1 {
  position: absolute;
  width: 29.69%;
  top: 50.4%;
  left: 15.13%;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
}
.about-child4,
.bg49 {
  position: absolute;
  top: 4046px;
  left: 0;
  background-color: var(--color-steelblue-200);
  width: 1600px;
  height: 1248px;
}
.about-child4 {
  top: 4862px;
  left: 155px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
  width: 1296px;
  height: 192px;
}
.our-ai-powered-support2 {
  position: absolute;
  top: 4952px;
  left: 179px;
  line-height: 26px;
  display: inline-block;
  width: 1248px;
  opacity: 0.7;
}
.comprehensive-support2 {
  position: absolute;
  top: 4898px;
  left: 245px;
  line-height: 26px;
  font-weight: 600;
  opacity: 0.7;
}
.at-aajiveka-we13,
.so-if-youre1,
.what-makes-us2,
.with-our-cutting-edge1 {
  position: absolute;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.what-makes-us2 {
  top: 4126px;
  left: 155px;
  font-size: var(--font-size-29xl);
  letter-spacing: -0.5px;
  line-height: 57.6px;
  font-weight: 600;
  width: 1285px;
}
.at-aajiveka-we13,
.so-if-youre1,
.with-our-cutting-edge1 {
  top: 4216px;
  left: 213px;
  line-height: 26px;
  width: 1169px;
  opacity: 0.8;
}
.so-if-youre1,
.with-our-cutting-edge1 {
  top: 5086px;
  left: 216px;
}
.so-if-youre1 {
  top: 5162px;
}
.about-child5,
.about-child6 {
  position: absolute;
  top: 4326px;
  left: 155px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
  width: 636px;
  height: 270px;
}
.about-child6 {
  top: 4620px;
  height: 218px;
}
.at-aajiveka-we14,
.getting-started-with2 {
  position: absolute;
  top: 4416px;
  left: 179px;
  line-height: 26px;
  display: inline-block;
  width: 588px;
  opacity: 0.7;
}
.getting-started-with2 {
  top: 4710px;
}
.easy-to-get2,
.personalized-ai-assistance2 {
  position: absolute;
  top: 4362px;
  left: 245px;
  line-height: 26px;
  font-weight: 600;
  opacity: 0.7;
}
.easy-to-get2 {
  top: 4656px;
}
.about-child7,
.about-child8 {
  position: absolute;
  top: 4326px;
  left: 815px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
  width: 636px;
  height: 270px;
}
.about-child8 {
  top: 4620px;
  height: 218px;
}
.at-aajiveka-we15,
.our-recruitment-process2 {
  position: absolute;
  top: 4416px;
  left: 839px;
  line-height: 26px;
  display: inline-block;
  width: 588px;
  opacity: 0.7;
}
.at-aajiveka-we15 {
  top: 4710px;
}
.privacy-and-security2,
.skill-based-job-matching2 {
  position: absolute;
  top: 4362px;
  left: 905px;
  line-height: 26px;
  font-weight: 600;
  opacity: 0.7;
}
.privacy-and-security2 {
  top: 4656px;
}
.i2-icon2,
.i3-icon2 {
  position: absolute;
  top: 4350px;
  left: 839px;
  width: 50px;
  height: 50px;
}
.i3-icon2 {
  top: 4644px;
  left: 179px;
}
.c1-icon2,
.c2-icon2,
.c3-icon3,
.i1-icon2,
.i4-icon2,
.i5-icon2 {
  position: absolute;
  top: 4350px;
  left: 179px;
  width: 50px;
  height: 50px;
}
.c1-icon2,
.c2-icon2,
.c3-icon3,
.i4-icon2,
.i5-icon2 {
  top: 4886px;
}
.c1-icon2,
.c2-icon2,
.c3-icon3,
.i4-icon2 {
  top: 4644px;
  left: 839px;
}
.c1-icon2,
.c2-icon2,
.c3-icon3 {
  top: 3290px;
  left: 223px;
}
.c2-icon2,
.c3-icon3 {
  top: 3566px;
}
.c2-icon2 {
  height: 0.74%;
  width: 3.13%;
  top: 50.4%;
  right: 86.13%;
  bottom: 48.87%;
  left: 10.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.c4-icon2,
.c5-icon2 {
  position: absolute;
  top: 3704px;
  left: 172px;
  width: 50px;
  height: 50px;
}
.c5-icon2 {
  top: 3868px;
  left: 223px;
}
.there-are-many58 {
  position: absolute;
  top: 89px;
  left: 0;
  line-height: 145%;
  font-weight: 300;
  display: inline-block;
  width: 526px;
}
.we-are-here22 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-31xl);
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 600;
  color: var(--color-gray-200);
}
.there-are-many-variations-of-p-parent20,
.there-are-many-variations-of-p-parent21 {
  position: absolute;
  top: 1202px;
  left: 152px;
  width: 526px;
  height: 227px;
  color: var(--color-darkslategray-200);
}
.there-are-many-variations-of-p-parent21 {
  top: 1845px;
  left: 921px;
  height: 296px;
}
.pexels-nahmad-10467168-icon2,
.pexels-rdne-stock-project-7581-icon2 {
  position: absolute;
  top: 1024px;
  left: 1142px;
  border-radius: var(--br-xl);
  width: 305px;
  height: 583px;
  object-fit: cover;
}
.pexels-rdne-stock-project-7581-icon2 {
  top: 1735px;
  left: 152px;
  width: 710px;
  height: 520px;
}
.mask-group-icon11,
.mask-group-icon12 {
  position: absolute;
  top: 1024px;
  left: 813px;
  width: 305px;
  height: 583px;
  object-fit: cover;
}
.mask-group-icon12 {
  top: 2644px;
  left: 592px;
  width: 416px;
  height: 490px;
}
.about {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 6802px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-4);
  font-family: var(--font-poppins);
}
