.bg59 {
  position: absolute;
  top: 1514px;
  left: 0;
  background-color: var(--color-white);
  width: 1024px;
  height: 517px;
}
.review-from-our23 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
  letter-spacing: -0.5px;
  line-height: 57.6px;
  display: inline-block;
  text-align: center;
  width: 864px;
}
.freelance-designer15,
.mila-mcsabbu15 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
}
.freelance-designer15 {
  top: 30px;
  font-size: var(--font-size-base);
  opacity: 0.7;
}
.group-child391,
.text109 {
  position: absolute;
  top: 7px;
  left: 94.29px;
  width: 154px;
  height: 56px;
}
.group-child391 {
  top: -36px;
  left: -40px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.group-child392,
.text-parent49 {
  position: absolute;
  top: 239px;
  left: 37px;
  width: 248.29px;
  height: 70px;
}
.group-child392 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 40px rgba(43, 89, 255, 0.08);
  width: 416px;
  height: 203px;
}
.group-child393 {
  position: absolute;
  top: 163px;
  left: -15.18px;
  border-radius: var(--br-11xs);
  width: 107.18px;
  height: 107.18px;
}
.rectangle-parent154 {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
  height: 229px;
}
.omg-i-cannot46 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
  display: inline-block;
  width: 336px;
}
.stars-icon46 {
  position: absolute;
  top: 108px;
  left: 0;
  width: 99.62px;
  height: 14.46px;
}
.omg-i-cannot-believe-that-i-h-parent44 {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 336px;
  height: 122.46px;
}
.div102,
.group-parent57,
.text110 {
  position: absolute;
  left: 0;
  width: 416px;
}
.group-parent57 {
  top: 0;
  height: 229px;
  font-size: var(--font-size-lg);
}
.div102,
.text110 {
  top: 90px;
  height: 309px;
}
.text110 {
  top: 7px;
  left: 94.29px;
  width: 118px;
  height: 56px;
}
.div103,
.text-parent50 {
  position: absolute;
  top: 239px;
  left: 37px;
  width: 212.29px;
  height: 70px;
}
.div103 {
  top: 90px;
  left: 448px;
  width: 416px;
  height: 309px;
}
.review-from-our-customers-parent5 {
  position: absolute;
  top: 1573px;
  left: 80px;
  width: 864px;
  height: 399px;
  color: var(--color-4);
}
.bg-icon48 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 370px;
  object-fit: cover;
}
.aajiveka-is-available23 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 57.6px;
}
.text111 {
  position: absolute;
  top: 0;
  left: 0;
  width: 846px;
  height: 58px;
}
.app-store-icon23,
.play-store-icon23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  height: 62px;
  object-fit: cover;
}
.play-store-icon23 {
  left: 220px;
}
.buttons15,
.content33 {
  position: absolute;
  top: 108px;
  left: 216px;
  width: 416px;
  height: 62px;
}
.content33 {
  top: 100px;
  left: 88px;
  width: 846px;
  height: 170px;
}
.bg-icon49,
.cta15 {
  position: absolute;
  left: 0;
  width: 1024px;
}
.cta15 {
  top: 2031px;
  height: 370px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.bg-icon49 {
  top: 2401px;
  height: 342px;
  object-fit: cover;
}
.button-icon46,
.button-icon47 {
  position: absolute;
  height: 23.53%;
  width: 100%;
  top: 41.76%;
  right: 0;
  bottom: 34.71%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button-icon47 {
  top: 76.47%;
  bottom: 0;
}
.download23 {
  position: absolute;
  top: calc(50% - 85px);
  left: 0;
  letter-spacing: -0.53px;
}
.quicklinks-423 {
  position: absolute;
  height: 6.2%;
  width: 13.18%;
  top: 89.79%;
  right: 7.71%;
  bottom: 4.01%;
  left: 79.1%;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.facebook-fill-icon23,
.twitter-fill-icon23 {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.twitter-fill-icon23 {
  bottom: 0;
  left: 38px;
}
.linkedin-fill-icon23,
.youtube-fill-icon23 {
  position: absolute;
  bottom: 1px;
  left: calc(50% + 9px);
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.youtube-fill-icon23 {
  bottom: 0;
  left: calc(50% + 47px);
}
.follow-us-on23 {
  position: absolute;
  width: 66.91%;
  top: calc(50% + 44px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.whatsapp-image-2023-05-01-at-146 {
  position: absolute;
  top: 0;
  left: 0;
  width: 118.27px;
  height: 118.27px;
  object-fit: cover;
}
.facebook-fill-parent13 {
  position: absolute;
  bottom: 72px;
  left: 76px;
  width: 136px;
  height: 208px;
  font-size: var(--font-size-base);
  font-family: var(--font-dm-sans);
}
.theme-pages23 {
  position: absolute;
  width: 100%;
  top: calc(50% - 109px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.contact-us23,
.home-pages23,
.pricing23,
.team23 {
  position: absolute;
  width: 95.84%;
  top: calc(50% - 38px);
  left: 0;
  display: inline-block;
}
.contact-us23,
.pricing23,
.team23 {
  width: 52.09%;
  top: calc(50% + 3px);
}
.contact-us23,
.team23 {
  width: 86.47%;
  top: calc(50% + 44px);
}
.team23 {
  width: 45.84%;
  top: calc(50% + 85px);
}
.theme-pages-parent21 {
  position: absolute;
  width: 10.7%;
  top: calc(50% + 1091.5px);
  right: 63.62%;
  left: 25.68%;
  height: 218px;
  font-size: var(--font-size-base);
}
.academy23,
.blog39,
.company-bio23,
.help-center23,
.sales-tools-catalog23 {
  position: absolute;
  width: 72.74%;
  top: calc(50% - 109px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.academy23,
.blog39,
.help-center23,
.sales-tools-catalog23 {
  width: 22.73%;
  top: calc(50% - 73.5px);
}
.academy23,
.help-center23,
.sales-tools-catalog23 {
  width: 65.02%;
  top: calc(50% - 32.5px);
}
.academy23,
.sales-tools-catalog23 {
  width: 100%;
  top: calc(50% + 8.5px);
}
.academy23 {
  width: 50.76%;
  top: calc(50% + 49.5px);
}
.blog-parent21 {
  position: absolute;
  width: 100%;
  top: calc(50% - 38px);
  right: 0;
  left: 0;
  height: 147px;
}
.company-bio-parent21 {
  position: absolute;
  width: 14.94%;
  top: calc(50% + 1091.5px);
  right: 43.75%;
  left: 41.31%;
  height: 218px;
  font-size: var(--font-size-base);
}
.about-us46,
.about-us47,
.information23,
.support23,
.terms-and-policy23 {
  position: absolute;
  width: 100%;
  top: calc(50% - 38px);
  left: 0;
  letter-spacing: -0.53px;
  display: inline-block;
}
.about-us46,
.about-us47,
.information23,
.support23 {
  width: 55.54%;
  top: calc(50% + 3px);
}
.about-us47,
.information23,
.support23 {
  top: calc(50% + 85px);
}
.information23,
.support23 {
  width: 50.64%;
  top: calc(50% + 44px);
}
.information23 {
  width: 70.56%;
  top: calc(50% - 109px);
}
.terms-and-policy-parent21 {
  position: absolute;
  width: 12.89%;
  top: calc(50% + 1091.5px);
  right: 25.88%;
  left: 61.23%;
  height: 218px;
  font-size: var(--font-size-base);
}
.pexels-pixabay-262508-2-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 464px;
  object-fit: cover;
}
.div104 {
  background-color: var(--color-gray-100);
  opacity: 0.7;
  mix-blend-mode: multiply;
}
.div104,
.pexels-pixabay-262508-2-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 464px;
}
.our-newsroom1 {
  position: absolute;
  width: 84.87%;
  top: 0;
  left: 7.58%;
  font-size: var(--font-size-29xl);
  letter-spacing: 0.2px;
  line-height: 52px;
  font-weight: 600;
  font-family: var(--font-poppins);
  display: inline-block;
}
.fill2,
.shadow2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
}
.fill2 {
  background-color: var(--color-white);
}
.input1 {
  height: calc(100% - 0.19px);
  width: calc(100% - 0.44px);
  right: 0.44px;
  bottom: 0.19px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.06);
}
.elementsshape8-r1,
.fill3,
.input1 {
  position: absolute;
  top: 0;
  left: 0;
}
.fill3 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-steelblue-200);
}
.elementsshape8-r1 {
  height: calc(100% - 0.42px);
  width: calc(100% - 0.44px);
  right: 0.44px;
  bottom: 0.42px;
}
.label1 {
  position: absolute;
  width: 100%;
  top: calc(50% - 11px);
  left: 0;
  display: inline-block;
}
.content34 {
  position: absolute;
  width: 57.45%;
  top: calc(50% - 11.21px);
  right: 21.72%;
  left: 20.83%;
  height: 22px;
}
.button22 {
  position: absolute;
  height: 71.43%;
  width: 12.37%;
  top: 14.29%;
  right: 1.05%;
  bottom: 14.29%;
  left: 86.58%;
  color: var(--color-white);
}
.search-article1,
.search3 {
  position: absolute;
  display: inline-block;
}
.search-article1 {
  width: 13.95%;
  top: calc(50% - 12.09px);
  left: 6.84%;
  font-weight: 600;
  text-align: left;
}
.search3 {
  width: 2.11%;
  top: calc(50% - 8.09px);
  left: 2.63%;
  font-family: var(--font-font-awesome-5-free);
}
.popular-tags1,
.search2 {
  position: absolute;
  left: 0;
  font-size: var(--font-size-base);
}
.search2 {
  height: 29.9%;
  width: 100%;
  top: 40.41%;
  right: 0;
  bottom: 29.69%;
  overflow: hidden;
  color: var(--color-lightslategray-100);
}
.popular-tags1 {
  width: 14.34%;
  top: calc(50% + 70.69px);
  font-weight: 600;
  text-align: left;
  display: inline-block;
}
.rectangle24 {
  position: absolute;
  height: 17.79%;
  width: 10.78%;
  top: 82.45%;
  right: 72.7%;
  bottom: -0.24%;
  left: 16.52%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.design1 {
  position: absolute;
  width: 6.18%;
  top: calc(50% + 76px);
  left: 18.82%;
  line-height: 20px;
  display: inline-block;
}
.rectangle25 {
  position: absolute;
  height: 17.79%;
  width: 18.8%;
  top: 82.45%;
  right: 51.91%;
  bottom: -0.24%;
  left: 29.28%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.user-experience1 {
  position: absolute;
  width: 14.87%;
  top: calc(50% + 76px);
  left: 31.32%;
  line-height: 20px;
  display: inline-block;
}
.rectangle26 {
  position: absolute;
  height: 17.79%;
  width: 17.88%;
  top: 82.45%;
  right: 32.05%;
  bottom: -0.24%;
  left: 50.07%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.user-interfaces1 {
  position: absolute;
  width: 14.08%;
  top: calc(50% + 76px);
  left: 51.97%;
  line-height: 20px;
  display: inline-block;
}
.blog-t-inner,
.our-newsroom-group {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.blog-t-inner {
  height: 7.58%;
  width: 82.47%;
  top: 6.31%;
  right: 8.75%;
  bottom: 86.11%;
  left: 8.79%;
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
}
.overlay8,
.pexels-kaboompics-com-6469-icon2 {
  position: absolute;
  border-radius: var(--br-base);
}
.pexels-kaboompics-com-6469-icon2 {
  top: 526px;
  left: 80px;
  width: 420px;
  height: 440px;
  object-fit: cover;
}
.overlay8 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(24, 59, 86, 0), #152532);
}
.base4 {
  position: absolute;
  height: 16.04%;
  width: 41.02%;
  top: 19.18%;
  right: 51.17%;
  bottom: 64.78%;
  left: 7.81%;
}
.how-to-write8 {
  margin: 0;
}
.motherhood-is-the-container2 {
  position: absolute;
  top: 31.72%;
  left: 10.16%;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 500;
}
.pexels-kaboompics-com-6469-icon3 {
  position: absolute;
  top: 492px;
  left: 1263px;
  border-radius: var(--br-base);
  width: 327px;
  height: 440px;
  object-fit: cover;
}
.base5 {
  position: absolute;
  height: 16.04%;
  width: 31.93%;
  top: 17.94%;
  right: -55.27%;
  bottom: 66.02%;
  left: 123.34%;
}
.motherhood-is-the-container3 {
  position: absolute;
  top: 30.48%;
  left: 124.51%;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 500;
}
.pexels-canva-studio-3194523-icon2 {
  position: absolute;
  top: 526px;
  left: 524px;
  border-radius: var(--br-base);
  width: 420px;
  height: 440px;
  object-fit: cover;
}
.base6 {
  position: absolute;
  height: 16.04%;
  width: 41.02%;
  top: 19.18%;
  right: 7.81%;
  bottom: 64.78%;
  left: 51.17%;
}
.motherhood-is-the2 {
  position: absolute;
  width: 36.33%;
  top: 31.72%;
  left: 53.52%;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.pexels-ivan-samkov-4240505-icon2 {
  position: absolute;
  top: 990px;
  left: 80px;
  border-radius: var(--br-base);
  width: 420px;
  height: 440px;
  object-fit: cover;
}
.overlay11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background: linear-gradient(
    180deg,
    rgba(24, 59, 86, 0),
    rgba(22, 49, 70, 0.45) 45.38%,
    #152532
  );
}
.image4 {
  position: absolute;
  height: 16.04%;
  width: 41.02%;
  top: 36.09%;
  right: 51.17%;
  bottom: 47.87%;
  left: 7.81%;
}
.how-to-prevent2 {
  position: absolute;
  width: 36.33%;
  top: 48.63%;
  left: 10.16%;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.pexels-pixabay-267569-icon2 {
  position: absolute;
  top: 990px;
  left: 524px;
  border-radius: var(--br-base);
  width: 420px;
  height: 440px;
  object-fit: cover;
}
.image5 {
  position: absolute;
  height: 16.04%;
  width: 41.02%;
  top: 36.09%;
  right: 7.81%;
  bottom: 47.87%;
  left: 51.17%;
}
.how-to-prevent-container2 {
  position: absolute;
  width: 36.33%;
  top: 48.63%;
  left: 53.52%;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.whatsapp-image-2023-05-01-at-147 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.blog40,
.candidates18,
.employers15,
.find-jobs15,
.home15 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 600;
}
.blog40,
.candidates18,
.employers15,
.find-jobs15 {
  left: 79px;
}
.blog40,
.candidates18,
.employers15 {
  left: 187px;
}
.blog40,
.candidates18 {
  left: 303px;
}
.blog40 {
  left: 429px;
}
.home-parent13 {
  position: absolute;
  top: 18px;
  left: 123px;
  width: 465px;
  height: 24px;
}
.get-started19,
.login15 {
  line-height: 24px;
  font-weight: 600;
}
.login15 {
  position: absolute;
  top: 10px;
  left: 0;
}
.get-started19 {
  position: relative;
}
.button23 {
  position: absolute;
  top: 0;
  left: 94px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 120px;
  height: 45px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-14xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-steelblue-200);
}
.login-signup-button15 {
  position: absolute;
  top: 7px;
  left: 651px;
  width: 214px;
  height: 45px;
  text-align: right;
}
.whatsapp-image-2023-05-01-at-1-parent13 {
  position: absolute;
  top: 16px;
  left: 80px;
  width: 865px;
  height: 60px;
  text-align: center;
  font-size: var(--font-size-base);
}
.blog-t {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2743px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
